RewriteEngine On

RewriteRule ^([a-zA-Z0-9-_]+)$ index.php?p=$1
RewriteRule ^([a-zA-Z0-9-_]+)/sort=([a-zA-Z0-9-_]+)$ index.php?p=$1&sort=$2
RewriteRule ^admin/([a-zA-Z0-9-_]+)$ index.php?admin=$1
RewriteRule ^admin/data/sort=([a-zA-Z0-9-_]+)$ index.php?admin=data&sort=$1
RewriteRule ^admin/data/([a-zA-Z0-9-_]+)$ index.php?admin=data&hal=$1
RewriteRule ^admin/data/([a-zA-Z0-9-_]+)/sort=([a-zA-Z0-9-_]+)$ index.php?admin=data&hal=$1&sort=$2

RewriteRule ^admin/([a-zA-Z_]+)/([a-zA-Z0-9]+)$ index.php?admin=$1&act=$2

RewriteRule ^admin/data/aksi_([a-zA-Z]+)/([0-9]+)$ index.php?admin=data&act=$1&id=$2
RewriteRule ^admin index.php?admin=home

RewriteRule ^list/([0-9]+)$ index.php?p=list&hal=$1
RewriteRule ^list/([a-zA-Z0-9]+)$ index.php?p=list&act=$1
ErrorDocument 404 /error404.php 
Redirect http://crud.azamcoder.com/admin http://crud.azamcoder.com/admin/home.html